<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.henktech.maskup">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/maskup_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/maskup_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="Mask Up">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DayHourActivity"
            android:label="Days and Hours" />
        <activity
            android:name=".activities.PlacesActivity"
            android:label="Places" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="Home" />
        <activity
            android:name=".activities.FindMaskActivity"
            android:label="Find Mask" />

        <receiver android:name=".tools.NotificationPublisher">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>